/*Logo*/
body {
    background: rgb(233,223, 208);
}

.page-container {
    position: relative;
    min-height: 70vh;
}

.content-wrap {
    padding-bottom: 0.5rem; /* Footer height */
}


.Logo-image {
    width: 5%;
    height: 5%;
    float: left;
    /* background: #FDCA9A;*/
    /*background: #F07167;*/
    background: #DA5872;
    padding-top: 1%;
    padding-bottom: .8%;
    padding-left:1%;
}
/* h1*/
h1 {
    padding-left: 7%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    background: #DA5872;
    /*color: #005C78;*/
    color: #094A5F;
    font-style: italic;
    font-weight: bold;
    font-family: Copperplate, Arial, sans-serif;
}

/* index */
.index {
    text-align: right;
    padding-right: 10%;
    font-family: Copperplate, Arial, sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 4px solid white;
    margin-top: -1.5%;
    /*background: #0081A7;*/
    background: #0A5067;
    color: #FDCA9A;
    font-family: Copperplate, Arial, sans-serif;
}
    .index a {
        color: #F2847C;
        font-family: Copperplate, Arial, sans-serif;
    }

    .index .btn {
        color: #F9C1BD;
        /*background: #00789C;*/
        background: #0E6A89;
        text-decoration: none;
        padding: 8px;
        border-radius: 4px;
    }

.index .btn:hover {
        background: rgba(31, 122, 140, 80%);
    }
h2 {
    /* color: #EE5A50; */
    color: #0b566f;
}
h2 a {
    color: #F2847C;
    font-family: Copperplate, Arial, sans-serif;
}
 .btn {
    color: #F9C1BD;
    background: #00789C;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.six-image {
    width: 30%;
    height: 30%;
    float: right;
}
p {
    color: #083E50;
}
form {
    color: #083E50;
}

.about {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.5rem;
}
.row {
    display: flex;
    margin-top:5%;
    color: white;
    text-align: center;
    background: #6B8F71;
   

}

.flex-item {
    flex: 1 1 100px;
    color: #263328;
}
.flex-item p{
    flex: 1 1 100px;
    color: #263328;
}

    .flex-item a {
        color: #0B566F;
    }

/*address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col1 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col2 {
    float: inline-start;
    width: 25%;
    margin-top: 6px;
}
    */